{% extends 'main.html' %}
{% load static %}
<div class="page-wrapper">
  {% block content %}
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">{{ user.company_name }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      {% load rest_framework %}
      <form action="." method="POST">
        <div
          class="modal-blur"
          id="modal-report"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-lg modal-dialog-centered"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">New Bid</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                {% csrf_token %} {% render_form serializer %}
              </div>
              <div class="modal-footer">
                <a
                  href="#"
                  class="btn btn-link link-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </a>
                <input
                  type="submit"
                  value="Save"
                  class="btn btn-primary ms-auto"
                  data-bs-dismiss="modal"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
      {% endblock %}
    </div>
  </div>
</div>
