{% extends 'main.html' %}
{% load static %}

<div class="page-wrapper">
{% block content %}
{% load rest_framework %}
<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Available Tenders
        </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <a href="/tender/create/" class="btn btn-primary">
          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
          Post a tender
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="row g-4">
      <div class="col-md-3">
        <form action="./" method="get" autocomplete="off" novalidate class="sticky-top">
          <div class="form-label">Category</div>
          <div class="mb-4">
            <label class="form-check">
              <input type="checkbox" class="form-check-input" name="form-type[]" value="1" checked>
              <span class="form-check-label">Food & Hospitality</span>
            </label>
            <label class="form-check">
              <input type="checkbox" class="form-check-input" name="form-type[]" value="2" checked>
              <span class="form-check-label">Advertising</span>
            </label>
            <label class="form-check">
              <input type="checkbox" class="form-check-input" name="form-type[]" value="3">
              <span class="form-check-label">Software</span>
            </label>
            <label class="form-check">
              <input type="checkbox" class="form-check-input" name="form-type[]" value="4">
              <span class="form-check-label">Telecommunications</span>
            </label>
            <label class="form-check">
              <input type="checkbox" class="form-check-input" name="form-type[]" value="5">
              <span class="form-check-label">Farming</span>
            </label>
          </div>
          <div class="form-label">Tender Budget Range</div>
          <div class="mb-4">
            <label class="form-check">
              <input type="radio" class="form-check-input" name="form-salary" value="1" checked>
              <span class="form-check-label">$20K - $50K</span>
            </label>
            <label class="form-check">
              <input type="radio" class="form-check-input" name="form-salary" value="2" checked>
              <span class="form-check-label">$50K - $100K</span>
            </label>
            <label class="form-check">
              <input type="radio" class="form-check-input" name="form-salary" value="3">
              <span class="form-check-label">> $100K</span>
            </label>
            <label class="form-check">
              <input type="radio" class="form-check-input" name="form-salary" value="4">
              <span class="form-check-label">Unspecified</span>
            </label>
          </div>
          <div class="form-label">Co-Contracting</div>
          <div class="mb-4">
            <label class="form-check form-switch">
              <input class="form-check-input" type="checkbox" >
              <span class="form-check-label form-check-label-on">On</span>
              <span class="form-check-label form-check-label-off">Off</span>
            </label>
            <div class="small text-muted">Only show tenders available for collaboration.</div>
          </div>
          <div class="form-label">Location</div>
          <div class="mb-4">
            <select class="form-select">
              <option>Anywhere</option>
              <option>London</option>
              <option>San Francisco</option>
              <option>New York</option>
              <option>Berlin</option>
            </select>
          </div>
          <div class="mt-5">
            <button class="btn btn-primary w-100">
              Confirm changes
            </button>
            <a href="#" class="btn btn-link w-100">
              Reset to defaults
            </a>
          </div>
        </form>
      </div>
      <div class="col-md-9">
        {% for tender in tenders %}
        <div class="row row-cards">
          <div class="space-y">
            <div class="card">
              <div class="row g-0">
                <div class="col-auto">
                  <div class="card-body">
                    <div class="avatar avatar-md" style="background-image: url(../static/photos/profile-background.jpg)"></div>
                  </div>
                </div>
                
                <div class="col">
                  <div class="card-body ps-0">
                    <div class="row"> 
                      <div class="col">
                        <h3 class="mb-0"><a href="#">{{ tender.category }}</a></h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md">
                        <div class="mt-3 list-inline list-inline-dots mb-0 text-muted d-sm-block d-none">
                          <div class="list-inline-item">
                            <img class="icon" src="../static/icons/company.svg">
                            {{ tender.owner }}</div>
                          <div class="list-inline-item"><!-- Download SVG icon from http://tabler-icons.io/i/map-pin -->
                            <img class="icon" src="../static/icons/location.svg">
                            Colorado, USA</div>
                        </div>
                        <div class="list-inline-item"><!-- Download SVG icon from http://tabler-icons.io/i/license -->
                            <img class="icon" src="../static/icons/deadline.svg">
                            {{ tender.deadline.date }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>